[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
drf-nested-routers = "*"
pillow = "*"
django-cors-headers = "*"
redis = "*"
celery = "*"
flower = "*"
pytest-watch = "*"
requests = "*"
django-redis = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2 = "*"
django-silk = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
model-bakery = "*"
locust = "*"
django-silk = "*"

[requires]
python_version = "3.11"
